@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1696fd;
  --color-secondary: #D72050;
  --color-base-200: #F3F3F3;
  --color-base-300: #E7E7E7;
  --color-accent: #706F6F;
}

*{
  font-family:"Poppins", sans-serif ;
}


.btn-st {
  @apply bg-gradient-to-r from-indigo-500 to-purple-600 text-white font-semibold rounded-md px-5 py-2 transition-all duration-300 hover:opacity-90 hover:shadow-md;
}
.text-st {
  @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent;
}

.glass-bg {
  @apply bg-white/20 backdrop-blur-md border border-white/30 shadow-lg;
}

.border-st {
  position: relative;
  border-radius: 12px;
  background: linear-gradient(45deg, #4F46E5, #9333EA, #EC4899);
  padding: 2px;
}
.border-st > * {
  background: white;
  border-radius: 10px;
}
